<!-- your html code here -->
<div class="container container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>Contact</h2>
                <p>Por si nos quiere contactar con 
                   mucho gusto puede dejar acá su mensaje:
                </p>
            </div>
    </div>
    <div class="row">
        <div class="col-sm-8 mx-auto">
            <div style="background:lightgrey" class=" border-secondary card">
                <div class="row m-3  justify-content-end ">
                    <label class="col-sm-2 text-end mx-3"><strong>Your E-mail</strong>  </label>
                    <input type="email" placeholder="Your email" class=" col-sm-9 "/>
                </div>
                <div class="row mb-3 mx-3 justify-content-end">
                    <label class="col-sm-2 text-end mx-3 "><strong>Your message</strong>  </label>
                    <textarea class=" col-sm-9" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            <div class="grid d-flex justify-content-end mb-4">
                <button class=" btn btn-primary mx-3">Submit</button>
            </div>
        </div>
    </div>
</div>

